<div id="footer">
    <div class="left">
        <a href="@Url.Action("Index", "Home")">Anasayfa</a>
        <span>|</span>
        <a href="@Url.Action("Create", "Register")">Yeni Hesap</a>
        <span>|</span>
        <a href="@Url.Action("Index", "My")">Hesabım</a>
        <span>|</span>
        <a href="@Url.Action("Index", "Product", new { id = "" })">Yurtlar</a>
        <span>|</span>
        <a href="@Url.Action("Index", "Contact")">İletişim</a>
    </div>
    <div class="right">
        <a href="@Url.Action("Index", "Home")">Yurtlife.com</a>
    </div>
</div>