<div id="navigation">
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Anasayfa</a></li>
        <li><a href="@Url.Action("Create", "Register")">Yeni Hesap</a></li>
        <li><a href="@Url.Action("Index", "My")">Hesabım</a></li>
        <li><a href="@Url.Action("Index", "Product", new { id = "" })">Yurtlar</a></li>
        <li><a href="@Url.Action("Index", "Contact")">İletişim</a></li>
    </ul>
</div>